.main
{
  min-height:calc(100vh - 400px);
}
h1,h2,h3,h4,p
{
  padding: 0 0 16px 0;
}
.sub_menu.mobile_hidden {
    position: absolute;
    width: 100vw;
    padding: 0;
    background: #fff;
    z-index: 50000;
    display: none;
    height: calc(100vh - 112px);
    overflow: auto;

    background: rgba(0,0,0,0.5);
    left: 0;
}

.menu_close{
    max-width: 1272px;
    margin: auto;
    padding: 0 24px;
}
.show-test.active{
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 24px;
    padding: 0px 24px 24px 24px; 
}
.sub_menu_block
{
  display: block;
  width: 100%;
  vertical-align: top;
  margin: 0;
}

.sub_menu_block.blog {    
    justify-self: end;
    max-width: 288px;

}
.mobile_hidden.menu_close {
    line-height: 96px;
    text-align: right;
    background: #fff;
    max-width: 1272px;
    margin: auto;
    padding: 0 16px;    
}
.mobile_hidden.menu_close .material-icons {
  cursor: pointer;
  font-size: 32px;
}

.archive-subtitle{
  display: inline-block;
}



.grid span{ height:10vh; display: inline-block; width:calc((100% - 11 * 24px) / 12);background: blue;
  margin:0 12px;
  color:#fff;
  text-align: center;
  vertical-align: middle;
}

.grid span.colspan6{
  width:calc(((100% - 11 * 24px) / 12 * 6 ) + 24px * 5);
}

.grid span.colspan4{
  width:calc(((100% - 11 * 24px) / 12 * 4 ) + 24px * 3);
}

.grid span:first-of-type
{
  background:red;
  margin-left:0;
}
.grid span:last-of-type
{
  margin-right:0;
  background:green;
}

.media-text{
  padding: 0;
}
  /* Caption text */

.text {
    position: absolute;
    max-width: 1224px;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 56px;    
    top: 0;
 font-size:36px; 
  line-height: 48px;
}


  .text .my-block-button {
  border: 2px solid #FFFFFF;
  background: none;
  width: auto;
  display: inline-block;
}
.text .my-block-title,.text .my-block-button
{
  font-size:35%;
}

.text .my-block-text {
  color: #FFFFFF;
  /*font-family: Lato;*/
  letter-spacing: 0;
  font-size:100%;
  line-height:1.2em;
}

.media-text.full {
    margin-bottom: 64px;
}
.content_section .text-image, .content_section .image-text{
  position: relative;
  min-height: 504px;
  margin-bottom: 96px;
  width: 100%;
  padding-top: 96px;
  /*max-width: 2000px;*/
  margin-left: auto;
  margin-right: auto;
}
.text-image .content, .image-text .content{
      width: calc(50vw - 64px);
      margin-bottom: 24px;
      max-width: 596px;

}
.text-image .content {
    position: relative;
    z-index: 1;
}


.text-image .block_image_div, .image-text .block_image_div{
  position: absolute;
  top: 96px;
    background-size: cover;
  width: 49.6vw;
  background-position: center;
  overflow: hidden;
  max-width: 800px;
}
.text-image .block_image_div{
  left:50%;
}
.image-text .block_image_div{
  right: 50%;
}

.text-image img.block_image ,.image-text img.block_image{
    height: 458px;
    width: auto;
    max-width: none;
    display: none
}

.image-text.std img.block_image{
  display: block;
}


.block_text{
    width: 50%;
    display: grid;
    grid: auto / repeat(auto-fill, calc(100%));
    /*justify-items: end;*/
}

.image-text .block_text {
    margin-left: 50%;
    justify-items: start;
}

.block_text .content
{
  width: 100%;
  padding: 0;
}

.text-image .content {
    padding-right: calc( 100% / 6 - 24px);
/*    padding-left: 24px; */
}

.image-text .content {
    padding-left: calc( 100% / 6 - 24px);
    padding-right: 24px;
}
.block_headline{
  height: 48px;
  color: #091B30;
  /*font-family: Lato;*/
  font-size: 42px;
  letter-spacing: 0;
  line-height: 48px;
  margin: 0;
  padding: 0 16px;
  margin-bottom: 24px;
}

.block_content{
  color: #091B30;
  /*font-family: Lato;*/
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
}
.media-text .block_content{
  height: auto;
}
.media-text.kontakt .block_content{
  height: auto;
}

.my-block-button span.button-text {
    color: #fff;
    background-color: #0061AB;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 56px;
    margin: 0;
    padding:0 16px ;
}

.my-block-button {
  width: auto !important;
}
.footer{
  text-align: center
}
.footer_item1{
  height: 56px;
  line-height:56px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  width: 148px;
}
.footer_item2, .footer_menu a{
  color: #091B30;
  display: inline-block;
  text-align: center;
  margin-bottom: 8px;
  padding: 0 24px;
}

.text .my-block-button {
    padding: 8px 24px;
}

.content_section >*{
    max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.text_left
{
  padding-right: 52px;
} 
.text_right
{
  padding-left: 52px;
}
 .medium{
  max-width: 936px;
  margin: auto;
}
.full .two-column-text {
  padding: 16px 0;
}

.two-column-text div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.two-column-text h2 {
padding: 0;
}
.events_header .mobile_width25:last-child
{
  text-align: right;
}
.desktop_width10
{
  width:10%;
}
.desktop_width40
{
  width:40%;
}
a.event_short h2
{
  font-size:26px;
  line-height:48px;
  color:#000;
}

.event_short span
{
  font-size:12px;
}

.event_short .material-icons
{
  padding-top:25px;
}

.news{
  margin-right: -24px;
}

  .news_container
  {
    display: none;
    width: calc(100% / 3 - 24px);
    margin: 0 24px 24px 0;
  }

.spalten_3 .news_container
  {
    width: calc(100% / 3 - 24px);
  }
.spalten_2 .news_container
  {
    width: calc(100% / 2 - 24px);    
  }
  .news_frame h2
  {
    color: inherit;
    line-height: 32px;
    /*height: 69px;*/
  }
  .active
  {
    display: inline-block;
  }
  .content_section >.navi-item {
      margin-bottom: -36px;
  }


  .navi-item{
    width: 33.333%;
    position: relative;
    top: -36px;
    background: #fff;
    grid-template-columns: 1fr; 
    grid-template-rows: 72px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:72px; 
    display: inline-grid;
    display: -ms-inline-grid;
    vertical-align: middle;
    padding: 0;
    align-items: center;
    justify-items: center;
    border-bottom: none; 
    z-index: 10;
  }


.navi-item figure.wp-block-image {
}

.navi-item img{
  margin: 16px auto; 
}
/* The dots/bullets/indicators */
.dots{
    height: 64px;
    line-height: 64px;
}

.xx .dots{
    bottom: 32px;
}

.searchform {
    padding: 40px 0;
}

.searchform>div {
    margin: auto;
    margin-right: 32px;
    position: relative;
    border-right: 1px solid #C7CCDB;
}


input#s {
    margin: 0;
    line-height: 31px;
    width: 100%;
    padding: 0 4px; 
    border: none ;
    font-size: 16px;
}
#searchsubmit {
    top: -8px;
    right: 8px;
}




.verlinkungen .text_left {
  margin-right: 12px;
}

.verlinkungen .text_left, .verlinkungen .text_right {
  margin-left: 12px;
}

@media(min-width:900px)
{

.xx .dots{
    bottom: 48px;
}

  .main-navi_btn {
   margin: 0 8px; 
  }


.text {
    font-size:48px; 
    line-height: 56px;
  }

  .text * {
      margin: 0px;
  }


  .text .my-block-title, .text .my-block-button {
      font-size: 30%;
  }
  .text .my-block-button {
      padding: 12px 24px;
  }

  .content_section >.navi-item {
      margin-bottom: -48px;
  }

  .navi-item img{
  margin: 36px auto; 
}

  .navi-item{
    top: -48px;
    grid-template-columns: 1fr; 
    grid-template-rows: 96px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:96px; 
  }

}

@media(min-width:1100px)
{

.xx .dots{
    bottom: 64px;
}

    .text{    
      font-size:56px; 
    line-height: 64px;
  }

.text .my-block-title, .text .my-block-button {
    font-size: 25%;
}

  .content_section >.navi-item {
      margin-bottom: -64px;
  }


  .navi-item{
    top: -64px;
    grid-template-columns: 1fr; 
    grid-template-rows: 128px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:128px;    
  }

  .navi-item img{
  margin: 42px auto; 
}


}

/**/
@media(min-width:1224px)
{


.main>:not(section):not(.xx):not(.accordion-item):not(.extra_navi_wrapper):not(.medium) {
    padding: 0 0 16px 0;
}

.header {

    padding: 0;
}

.main-navi_btn {
 margin: 0 16px; 
}

    .text{    
      font-size:64px; 
    line-height: 72px;
    top:17%;
  }


}

.app_info.text-image .block_image_div, .app_info.image-text .block_image_div{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: calc(100% - 96px);
}
.appbtn {
    display: inline-block;
    width: 40%;
    height: auto;
    margin-right: 24px;
}

.appbtn img.block_image {
    display: inline-block;
    width: 100%;
    height: auto;
}