/*

.wp-block-column.lotto-logo{
    flex-basis:132px;
    max-width: 132px;
}

.wp-block-columns.lotto-header .wp-block-column:not(:first-child).top-menu {
    background: #df0026;
	    flex-basis:calc(100% - 132px ) !important;
	    margin-left: -66px;
	    padding-left: 66px;
}
#menu-top-menu > li
{
        width: auto;
        padding-right: 10px;
}

#menu-top-menu > li:last-child
{
    border-bottom: 1px solid #FFFFFF;
}
.sub-menu
{
    position: absolute;
    top: 30px;
    width: 50vw;
}

*/