.main
{
  min-height:calc(100vh - 400px);
}

/*
a,h1, h2, h3, h4, p, ul, table, figure, main~.wp-block-columns, .news-div, blockquote,.zitat {
    max-width: 808px;
    padding: 0 24px 16px 24px;
    margin: auto;
    margin-bottom: 24px;
    width: 100%;
}

.content_section >*{
    max-width: 808px;
  margin-left: auto;
  margin-right: auto;
}

*/

a,h1, h2, h3, h4, p, ul, table, figure, .news-div, .zitat {
    max-width: 808px;
    margin: auto;
    margin-bottom: 24px;
    width: 100%;
}

h1,h2,h3,h4,p
{
  padding:0;
}

/*
.section-left >*{
  margin-left: 0;
}





.section-left{
    display: flex;
    flex-direction: column;
    max-width: 808px;
    width: 100%;
}

.section-left p{
    padding: 0 0 16px 0;
    flex-basis: 100%;
    max-width: 808px;
}
p.section-left{
    max-width: 808px;
    text-align: left;
}

.section-left{
    justify-content: flex-start 
}

.section-left.hews-head {
    padding: 0;
}

*/



.block_head{
  padding: 0;
}

section.news-liste {
    max-width: 1224px;
    margin: auto;
}


.section-left.hews-head .back,.section-left.hews-head .detail_info {
  width: 50%;
}
.news-div ,.news-div h2{
    max-width: 1224px;
    margin: auto;
    padding: 0 16px;
}
.news-div h2{
    margin-bottom: 24px;
    padding-left: 0;
}
.main ul{
  padding: 0 24px 24px 24px;
}

.desktop_navi {
    padding-right: 8px;
}

.verlinkung h3, .verlinkung figure {
    padding: 0;
}
.sub_menu.mobile_hidden {
    position: absolute;
    width: 100vw;
    padding: 0;
    background: #fff;
    z-index: 50000;
    display: none;
    height: calc(100vh - 112px);
    overflow: auto;

    background: rgba(0,0,0,0.5);
    left: 0;
}

.menu_close{
    max-width: 1272px;
    margin: auto;
    padding: 0 24px;
}


.mobile_hidden.menu_close {
    line-height: 96px;
    text-align: right;
    background: #fff;
    max-width: 1272px;
    margin: auto;
    padding: 0 16px;    
}

.menu_close: focus{background-color: green;
}
.menu_close button: focus{background-color: red;
}
.menu_close button: hover{background-color: blue;
}

.mobile_hidden.menu_close .material-icons {
  cursor: pointer;
  font-size: 32px;
}

.archive-subtitle{
  display: inline-block;
}



.grid span{ height:10vh; display: inline-block; width:calc((100% - 11 * 24px) / 12);background: blue;
  margin:0 12px;
  color:#fff;
  text-align: center;
  vertical-align: middle;
}

.grid span.colspan6{
  width:calc(((100% - 11 * 24px) / 12 * 6 ) + 24px * 5);
}

.grid span.colspan4{
  width:calc(((100% - 11 * 24px) / 12 * 4 ) + 24px * 3);
}

.grid span:first-of-type
{
  background:red;
  margin-left:0;
}
.grid span:last-of-type
{
  margin-right:0;
  background:green;
}

.media-text{
  padding: 0;
}

.text_left p, .text_right p, p.content ,.text_left a.my-block-button{
    padding: 0 0 16px 0;
}

.text_left, .text_right {
     padding: 0;
     border: 0; 
}
.two-column-text p{
    padding: 0 0 16px 0;
}

 .two-column-text p{
    padding: 0 0 16px 0;
}

.text .my-block-text {
  color: #FFFFFF;
  /*font-family: Lato;*/
  letter-spacing: 0;
  font-size:100%;
  line-height:1.2em;
}



.two-column-text .block-text p.modul p,.modul ul {
    padding: 0;
    margin: 0;    
    padding-bottom: 24px;

}

.media-text.full {
    margin-bottom: 64px;
}
.content_section .text-image, .content_section .image-text{
  position: relative;
  min-height: 504px;
  margin-bottom: 96px;
  width: 100%;
  padding-top: 96px;
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}
.text-image .content, .image-text .content{
      width: calc(50vw - 64px);
      margin-bottom: 24px;

}

.modul.text-image .content, .modul.image-text .content{
      width: 50%;
      margin-bottom: 24px;
      flex: 0;

}

.text-image .content {
    position: relative;
    z-index: 1;
}

.image-text .block_text a, .text-image .block_text a{
   margin: 8px 0;
}

.text-image .block_image_div, .image-text .block_image_div{
  position: absolute;
  top: 96px;
    background-size: contain;
  width: 49.6vw;
  background-position: center;
  overflow: hidden;
  max-width: 710px;
    max-height: 458px;
    background-repeat: no-repeat;
}
.text-image .block_image_div{
  left:50%;
}
.image-text .block_image_div{
  right: 50%;
}

.text-image img.block_image ,.image-text img.block_image{
    height: 458px;
    width: auto;
    max-width: none;
    display: none
}

.image-text.std img.block_image{
  display: block;
}


.block_text{
    width: 50%;
    display: grid;
    grid: auto / repeat(auto-fill, calc(100%));
    /*justify-items: end;*/
}

.image-text .block_text {
    margin-left: 50%;
    justify-items: start;
}

.block_text .content
{
  width: 100%;
}

.text-image .content {
    padding-right: calc( 100% / 6 - 16px);
    padding-left: 16px; 
}

.image-text .content {
    padding-left: calc( 100% / 6 - 24px);
    padding-right: 24px;
}
.modul.image-text .content {
    padding-left: calc( 50% / 6 - 24px);
    padding-right: 24px;
}

.modul.text-image .content {
    padding-right: calc( 50% / 6 - 24px);
    padding-left: 24px;
}

.block_headline{
  height: 48px;
  color: #091B30;
  /*font-family: Lato;*/
  font-size: 42px;
  letter-spacing: 0;
  line-height: 48px;
  margin: 0;
  padding: 0 16px;
  margin-bottom: 24px;
}

.block_content{
  color: #091B30;
  /*font-family: Lato;*/
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
}
.media-text .block_content{
  height: auto;
}
.media-text.kontakt .block_content{
  height: auto;
}

.my-block-button span.button-text {
    display: inline-block;
    line-height: 56px;
    margin: 0;
    padding:0 16px ;
}

.my-block-button {
  width: auto !important;
}
.my-block-button.mobile_hidden {
  display: inline-block;
}



.lotterie-image a{
    padding: 0;
}

.footer{
  text-align: center
}
.footer_item1{  
    display: inline-block;
    text-align: center;
    width: 148px;
}

.footer_item1 a{  
    margin-bottom: 0;
}

.footer_menu{
    margin-bottom: 0;

}
.footer_menu li{
  display: inline-block;

}


.footer_item2, .footer_menu a{
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  width: auto;
}
 .medium{
  max-width: 808px;
  margin: auto;
}
.full .two-column-text {
  padding: 16px 0;
}

.wp-block-lb-two-column-text.content_section h2,
.wp-block-lb-two-column-text.content_section .two-column-text {
    max-width: 808px;
    width: 100%;
}


.two-column-text div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.events_header .mobile_width25:last-child
{
  text-align: right;
}
.desktop_width10
{
  width:10%;
}
.desktop_width40
{
  width:40%;
}
a.event_short h2
{
  font-size:26px;
  line-height:48px;
  color:#000;
}

.event_short span
{
  font-size:12px;
}

.event_short .material-icons
{
  padding-top:25px;
}

.news{
  margin-right: -24px;
}

  .news_container
  {
    display: none;
    width: calc(100% / 3 - 24px);
    margin: 0 24px 24px 0;
    background: #fff;
  }

.spalten_3 .news_container
  {
    width: calc(100% / 3 - 24px);
  }
.spalten_2 .news_container
  {
    width: calc(100% / 2 - 24px);    
  }
  .news_frame h2
  {
    color: inherit;
    line-height: 32px;
    min-height: 2.7em;
  }
  .active
  {
    display: inline-block;
  }
  .content_section >.navi-item {
      margin-bottom: -36px;
  }


  .navi-item{
   /* width: 33.333%;*/
    position: relative;
    top: -36px;
    background: #fff;
    grid-template-columns: 1fr; 
    grid-template-rows: 72px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:72px; 
    display: inline-grid;
    display: -ms-inline-grid;
    vertical-align: middle;
    padding: 0;
    align-items: center;
    justify-items: center;
    border-bottom: none; 
    z-index: 10;
  }


.navi-item figure.wp-block-image {
}

.navi-item img{
  margin: 0; 
}


/* The dots/bullets/indicators */
.dots{
    height: 64px;
    line-height: 64px;
}

.xx .dots{
    bottom: 32px;
}

.searchform {
    padding: 27px 0;
}

.searchform>div {
    margin: auto;
    margin-right: 32px;
    position: relative;
    border-right: 1px solid #C7CCDB;
}


input#s {
    margin: 0;
    line-height: 48px;
    width: calc(100% - 150px );
    padding: 0 4px;
/*    border: none;*/
    font-size: 16px;
    margin-right: 150px;
}
#searchsubmit {
    top: 4px;
    right: 8px;
}


.more-link
{
  display: unset;
}

.verlinkungen .text_left {
  margin-right: 12px;
}

.verlinkungen .text_left, .verlinkungen .text_right {
  margin-left: 12px;
}


.show-test.active{
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 16px;
    padding: 0px 24px 24px 24px; 
}


.show-test.active {
    grid-template-columns: 1fr auto auto;
}

a.sub_menu_item {
    font-size: 20px;
    padding-right: 32px;
}


.blog{
  padding-left: 16px;    
  width: 203px;
  justify-self: end;
border-left: 1px solid #E3E5ED;

}
.blog ~ .blog { padding-left: 0;
   width: 186px;
border-left: none;   

}
.menu_teaser_content p{
      font-size: 20px;
}


section.news-liste {
    padding: 24px;
}

.wp-block-lb-button .button {
    margin-right: auto;
}


.slide-frame .swiper-container.gallery-main {
    width: 100%;
    margin-right: 0;
}
  
.slide-frame .gallery-main .swiper-wrapper {
    width: 100%;
    margin: auto;
}

.swiper-pagination.desktop_hidden.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 39px;
}

.content-slider .swiper-pagination.desktop_hidden.swiper-pagination-clickable.swiper-pagination-bullets {
        top: calc(100% + 8px);
}

.text{    
    font-size:64px; 
    line-height: 72px;
    top:17%;
    padding: 0 72px;

    background-color: rgba(0,0,0,0.01);/**/
}
.section-left.hews-head {
    padding: 0 24px;
}



.without_line .text_left, .without_line .text_right {
    border: 0;
    padding: 0;
}
.site-header {
    min-height: 120px;
}


.wp-block-ub-tabbed-content .wp-block-ub-tabbed-content-tab-title-wrap {
    font-size: 24px;
    margin: 0 16px;
}
.section-left{
        padding: 0 16px;
}  

.swiper-container.gallery-main {
    height: 648px;
}


section .button {
    margin: 0;
}


.content_section .modul.image-text,.content_section .modul.text-image{
    margin: 0 auto;
    padding: 0;
}
.modul.image-text figure,.modul.text-image figure{
    margin: 0;
    padding: 0;
}
.gray>.wp-block-bitv-image-text.modul.image-text,.gray>.wp-block-bitv-text-image.modul.text-image {

    margin-bottom: -96px;
}


 .modul{
    margin: 0 auto 64px auto;
  }


.modul .modul-image>figure,.modul figure.modul-image, .modul figure>.modul-image {
    margin-bottom: 0;
}



.modul .e_headline{
    margin-bottom: 24px;
}

.modul .text-button,.modul .modul-button{
    margin-top: 24px;
}
.modul p,.modul ul {
    padding: 0;
    margin-bottom: 24px;
    width: 100%;
    max-width: unset;
}
/*
.modul p:last-of-type,.modul ul:last-of-type,.modul li:last-of-type {
    margin-bottom: 0;
}
*/

.modul .block-text.content {
    margin: 0;
}
.modul.eine_spalte,.modul.zwei_spalten,.modul.benefits,.modul.testimonial{
    max-width: 1026px;
}
@media(min-width:900px)
{

.section-left{
   padding: 0 16px;
    margin-left: 0;
}

.desktop_navi {
    padding-right: 40px;
}
.wp-block-ub-tabbed-content .wp-block-ub-tabbed-content-tab-title-wrap {
    font-size: 24px;
    margin: 0 24px;
}


.gallery-thumbs .teaser_image_div{
    height: 111px;
    width: 100%;
}

.teaser_image_div{
    height: 570px;
    width: 100%;
}

a.sub_menu_item {
    font-size: 24px;
}
.menu_teaser_content p{
      font-size: 24px;
}

.xx .dots{
    bottom: 48px;
}

  .main-navi_btn {
   margin: 0 8px; 
  }

  .content_section >.navi-item {
      margin-bottom: -48px;
  }
  .navi-item{
    top: -48px;
    grid-template-columns: 1fr; 
    grid-template-rows: 96px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:96px; 
  }
.news .category{
  padding-right: 16px;
  margin-right: 16px;
}

.footer_menu a{
  padding: 0;
}

}

@media(min-width:1100px)
{

.header{
        padding: 0 px;
}

.section-left{
        padding: 0 24px;
    margin-left: 0;        
}
.text-image .content {
    padding-right: calc( 100% / 6 - 24px);
    padding-left: 24px; 
}

.news-div {
    padding: 0 24px;
}

.slide-frame .gallery-main .swiper-wrapper {
    width: 1224px;
    margin: auto;
/*        margin-left: calc( (593px - 100%) / 2);*/
}


  .show-test.active{
    gap: 32px; 
}

.blog{
  padding-left: 24px;    
  width: 312px;
}
.blog ~ .blog { padding-left: 0;
   width: 288px;

}

.xx .dots{
    bottom: 64px;
}
/*
.text{    
    font-size:56px; 
    line-height: 64px;
    padding: 0 72px;
}

.text .my-block-title, .text .my-block-button {
    font-size: 25%;
}
*/
  .content_section >.navi-item {
      margin-bottom: -64px;
  }


  .navi-item{
    top: -64px;
    grid-template-columns: 1fr; 
    grid-template-rows: 128px; 
    -ms-grid-columns:1fr; 
    -ms-grid-rows:128px;    
  }
}

@media(min-width:1225px)
{
.news_frame
{
  padding: 0 16px;
}
.news-div, .news-div h2 {
    padding: 0;
    margin-bottom: 24px;
}
.news_container a.list {
    padding: 0 16px;
}

.section-left {
    margin-left:calc( (100% - 1224px) / 2) ;
    padding: 0;
}

.section-left.hews-head {
    padding: 0;
}

.block_text .my-block-button {
  margin-left : 0;
}

.text-image .block_text p , .text-image .block_text h2 , .text-image .block_text a{
   padding-left: 0;
}

/*

.text_left p, .text_right p, p.content {
    padding: 0 24px 16px 24px;
        padding-right: 24px;
}
*/

.modul.text-image .content {
    padding-left: 0;
    padding-left: calc((100% - 1224px) / 2 + 24px );
}


    .verlinkungen .block_head {

      padding: 64px 0 16px 0;
  }
section.news-liste {
 padding: 0;
}

.sub_menu_block.navi {
    padding-right: 80px;
}
.blog{
  padding-left: 112px;    
  width: 401px;
}
.blog ~ .blog { padding-left: 0;
   width: 288px;

}

.header {

    padding: 0;
}

.main-navi_btn {
 margin: 0 16px; 
}
/*
    .text{    
      font-size:64px; 
    line-height: 72px;
    top:17%;
  }
*/

.modul.image-text .modul-image,.modul.image-text > figure.modul-image, .modul.image-text .wp-block-image,
.modul.text-image .modul-image,.modul.text-image > figure.modul-image, .modul.text-image .wp-block-image {
    height: 456px;
    /*overflow: hidden;*/
    display: inline-flex;
}

.modul.image-text .modul-image,.modul.image-text > figure.modul-image, .modul.image-text .wp-block-image {
    justify-content: flex-end;
}

.modul.image-text .modul-image img,.modul.image-text figure.modul-image img,
.modul.text-image .modul-image img,.modul.text-image figure.modul-image img {
    height: 456px;
    width: auto;
    max-width: unset;
}

}

@media(min-width:1441px)
{
.desktop_hidden.swiper-pagination
  {
    display: none;
  }
}

.app_info.text-image .block_image_div, .app_info.image-text .block_image_div{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: calc(100% - 96px);
}
.appbtn {
    display: inline-block;
    width: 40%;
    height: auto;
    margin-right: 24px;
}

.appbtn img.block_image {
    display: inline-block;
    width: 100%;
    height: auto;
}

.filter_word{
  display: inline-block;
}

.events_header {
    padding: 16px 0;
    border-bottom: 1px solid #C7CCDB;
    margin-bottom: 26px;
}

.news_filter{
  display: flex;
}

div#search-filter {
    min-width: 208px;
    height: 58px;
    border-bottom: 2px solid #E3E5ED;
}

div#search-filter:hover,div#search-filter:focus  {
    border-bottom: 2px solid #091B30;
}


div#search-filter.searchformfld input {
    border-bottom: none;
}

#filter, .cat_check, div#search-filter {
    display: inline-block;
}

.cat{
  display: inline-block;
}

.searchformfld{
  padding-right: 48px;
}


form .button{
  margin: 16px auto;
  width: auto;
}

.kontakt-form
{
  max-width: 808px;
  margin: auto;
  padding: 0 0 24px 0;
}
.kontakt-form .wpforms-field {
    padding: 0;
}

/* h1-style Riesig*/
.e_headline.has-huge-font-size{
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
}


/* h2-style Groß*/
.e_headline.has-large-font-size{
  font-size: 42px;
  letter-spacing: 0;
  line-height: 48px;
}

/* h3-style Mittel*/
.e_headline.has-medium-font-size{  
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;
}

/* h4-style Normal*/
.e_headline.has-normal-font-size{
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px; 
  font-weight: bold;
}

/* h5-style Standard*/

/* h6-style Klein*/
.e_headline.has-small-font-size{
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
}


.modul .teaser-text .wp-block-column.block-text {
    border: 5px solid red;
    margin: 0;
    margin-right: 24px;
}

/* Modul zwei Teaser */

.modul .teaser-text .wp-block-column.block-text:last-of-type {
    border: 5px solid blue;
    margin-right: 0;
}