.sub_menu.mobile_hidden {
    position: absolute;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    z-index: 50000;
    display: none;
    height: calc(100vh - 112px);
    overflow: auto;
}

.menu_close{
    max-width: 1224px;
  margin: auto
}
.show-test.active{
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 24px;
}
.sub_menu_block
{
  display: block;
  width: 100%;
  vertical-align: top;
  margin: 0;
}

.sub_menu_block.blog {    
    justify-self: end;
    max-width: 288px;

}
.mobile_hidden.menu_close {
    line-height: 96px;
    text-align: right;
}
.mobile_hidden.menu_close .material-icons {
  cursor: pointer;
}
    .grid span{ height:10vh; display: inline-block; width:calc((100% - 11 * 24px) / 12);background: blue;
      margin:0 12px;
      color:#fff;
      text-align: center;
      vertical-align: middle;
    }

    .grid span.colspan6{
      width:calc(((100% - 11 * 24px) / 12 * 6 ) + 24px * 5);
    }

    .grid span.colspan4{
      width:calc(((100% - 11 * 24px) / 12 * 4 ) + 24px * 3);
    }

    .grid span:first-of-type
    {
      background:red;
      margin-left:0;
    }
    .grid span:last-of-type
    {
      margin-right:0;
      background:green;
    }

  /* Caption text */
.text * {
    display: block;
    max-width: 558px;
    margin: 0px;
}

  .text .my-block-button {
border: 2px solid #FFFFFF;
    background: none;
    width: auto;
    display: inline-block;
}
  .text .my-block-text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 72px;
}
.text-image, .image-text{
  position: relative;
  height: 504px;
  background-color: #F3F4F7;
  margin-bottom: 96px;

    width: calc(100vw - 10px);
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 96px;


}
.text-image .content, .image-text .content{
  background: lavender;
      width: calc(50vw - 64px);
      padding: 0 32px;
      margin: 16px 0;
      max-width: 588px;

}
.text-image .content {
    position: relative;
    z-index: 1;

        left: calc( (1224px - 100vw ) / 2 - (( 1224px - 100vw ) + ( 100vw - 1224px ) / 2));
    margin-left: 0;
}


.text-image .block_image_div, .image-text .block_image_div{
  position: absolute;
  top: 96px;
  height: 456px;    
    background-size: cover;
  width: 49.6vw;
  background-position: center;
  overflow: hidden;
}
.text-image .block_image_div{
  left:50%;
}
.image-text .block_image_div{
  right: 50%;
}

.text-image img.block_image ,.image-text img.block_image{
    height: 458px;
    width: auto;
    max-width: none;
    display: none
}
.block_headline,.block_content,.my-block-button{
  position: relative;
  display: block;
  width: 50%;
  margin: 0;
  padding:0 ;
  margin-top: 40px;
} 


.image-text .block_headline,.image-text .block_content, .image-text .my-block-button{
  left: 50%;
} 

.block_headline{
  height: 48px;
  color: #091B30;
  font-family: Lato;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.block_content{
  height: 144px;
  color: #091B30;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}
.my-block-button span.button-text {
    color: #fff;
    background-color: #0061AB;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    height: 56px;
    width: 153px;
    font-size: 16px;
    line-height: 56px;
    margin: 0;
    padding:0 ;
}

.footer{
  text-align: center
}
.footer_item1{
  height: 56px;
  line-height:56px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  width: 148px;
}
.footer_item2, .footer_menu a{
  color: #091B30;
  display: inline-block;
  text-align: center;
  margin-bottom: 8px;
  padding: 0 24px;
}