/*
@media (max-width: 599px)
{
	.wp-block-column.lotto-logo{
	    flex-basis:66px!important;
	    z-index: 10;
	}
	.wp-block-columns.lotto-header .wp-block-column.lotto_top-menu{
	    flex-basis:calc(100% - 66px ) !important;
	    margin-left: -33px;
	    padding-left: 33px;    
	}    
}
*/
/*@media (min-width: 600px) and (max-width: 899px)*/
@media(max-width: 899px)
{
    .wp-block-column.lotto-logo{
        flex-basis:132px!important;
        z-index: 10;
    }
	.wp-block-columns.lotto-header .wp-block-column.lotto_top-menu{
	    flex-basis:calc(100% - 132px ) !important;
	    margin-left: -66px;
	    padding-left: 66px;
	}    

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: red;
  min-height: auto;
  margin: auto;
}

}
