/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
body {font-family: 'Lato', sans-serif; margin: 0;padding: 0}

/* LB-Header 
.lb_header{
  display: block;
  background: beige;
  height: 120px;
}

.lb_header div{
  display: inline-block;
  vertical-align: top;
}
.lb_navi{
  background: yellow;
}
.lb_logo img{
  max-height: 120px;
  width: auto;
}
*/

.menu-modal{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10000;
}

.menu-modal.active{
  display: block;
}

.menu-modal.active {
    display: block;
    width: calc(100vw - 16px);
     /*width: calc(100% - 4px);*/
    height: 100vh;
    background: rgba(0,0,0,.2);    margin-top: 100px;
}

.menu-wrapper.section-inner {
    background: pink;
    max-width: 1224px;
    margin: auto;
}

.menu-modal.active .sub-menu.active{
  display: block;
}
.mymain{
  border: 5px solid green; 
}
#mymain{
  border: 5px solid yellow; 
}

main,.lb_header{
  max-width: 1224px; 
  margin: auto;
}

.lb_header {  
  height: 100px;
  display: grid;
  display: -ms-grid;
  grid: auto / repeat(12, 1fr);
  -ms-grid-columns: 2fr 9fr 1fr;
  grid-template-areas:  "logo navi menu"
                        "logo search menu";
 /*
 grid-template-columns: 2fr 9fr 1fr;
  grid-template-columns: 3fr 7fr 2fr;
*/
  grid-template-rows: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
    background: beige;
  gap: 0px 24px;
  grid-gap: 0px 24px;
  border-bottom: 5px solid red;



}
.lb_search{
  width: 100%;
  grid-area: search;
  background: yellow;
  justify-self: end;
  grid-column: 3 / span 9;
  -ms-grid-column: 2;
  -ms-grid-row:2;
}
.lb_navi{
  width: 100%;
  grid-area: navi;
  background: yellow;
  grid-column: 3 / span 9;
  -ms-grid-column: 2;
  -ms-grid-row:1;

}
.lb_logo{
  grid-column: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-row-span: 2;
  width: 100%;
  grid-area: logo;
  background: white;  
  align-self: center;
    justify-self: start;
}
.lb_logo img{
  max-height: 120px;
  width: auto;

}

.lb_menu{
  grid-area: menu;
  align-self: center;
  justify-self: end;
  grid-column: 12;
  -ms-grid-column: 3;
  -ms-grid-row-span: 2;    
}
.lb_search button,.lb_menu button{
  background: transparent;
  border: none;
}

.lb_search button:focus,.lb_menu button:focus{
  background: transparent;
      outline: none;
  border: none;
}



.lb_search button .toggle-icon,.lb_search button .toggle-text,.lb_menu button .toggle-icon,.lb_menu button .toggle-text{
  vertical-align: middle;
}

/* Breadcrumb */

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb ul{
    list-style: none;
    margin: 0;
}

.breadcrumb ul li{
    display: inline-block;
}

.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
    color: #cd2653;
}

.breadcrumb svg.svg-icon {
    display: inline-block;
    color: #428bca;
    fill: #428bca;
    vertical-align: middle;
}
.breadcrumb svg.svg-icon:hover {
    display: inline-block;
    color: #cd2653;
    fill: #cd2653;
    vertical-align: middle;
}

/* Slideshow */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: red;
  min-height: 568px;
  margin: auto;
}

.slideshow-container.xx {
    background: green;
    width: 100vw;
width: calc(100vw - 10px);    
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 0;
}



/* Hide the images by default */
.mySlides {
  display: none;  
  background: burlywood;



}

/* Next & previous buttons */
.prev_slide, .next_slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  z-index: 10
}

/* Position the "next button" to the right */
.next_slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_slide:hover, .next_slide:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    margin: 0;
    padding: 8px 12px;
    position: absolute;
    bottom: 144px;
    left: 10.9%;
    width: 48%;
    text-align: left;
    /*height: calc(100% - 72px);*/
    background: linear-gradient(
45deg
,red,white);
}

.slide_h1,.slide_h2{
        display: block;
}

.slide_h1{
        font-size: 4rem;
}
.slide_h2{
        font-size: 1.5rem;
}

.text button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;

}

.text button svg{
    display: inline-block;    vertical-align: middle;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots{
  position: absolute;
    text-align: center;
    height: 72px;
    line-height: 72px;
    bottom: 72px;
    width: 100%;
    background: red;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots.d_text{
    left: 10.9%;
    width: 48%;
    text-align: left;
    display: grid;
  grid: repeat(auto-fill, 50px) / auto-flow 1fr;  
   gap: 0px 24px;   
}
.d_text .dot{
    width: auto;
    min-width: 15px;
    border-top: 3px solid #fff;
    border-radius: 0;
    height: calc( 100% - 3px );
}
.active_dot, .dot:hover {
  background-color: #0061AB;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
    background: beige;
    margin: auto;
    width: 100%
}



/* LB Gallery */


.lb_gallery .wp-block-columns {
    margin: 0px; 
}
.lb_gallery .wp-block-column {
    text-align: center;
    margin: 0px;
    flex-basis:100%;    
}
.lb_gallery .wp-block-column:not(:first-child) {
    text-align: center;
    margin: 0px;
    flex-basis:100%;  
}

.lb_gallery .wp-block-column.lb_gallery_image {
    padding-top: 1em;
}

.lb_gallery .wp-block-column.lb_gallery_image img{
    max-height: 130px;
    width: auto;
    margin: auto;
}

.lb_gallery .wp-block-column.lb_gallery_image figcaption{
    color: #fff;
    font-weight: 600;
}

.lb_gallery .wp-block-column.lb_gallery_spacer {
    background: lightgray
}

/* Social Icons ------------------------------ */

ul.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -0.9rem;
    justify-content: center;
    list-style: none;
}

ul.social-icons li {
    margin: 0.9rem 0 0 0.9rem;
}

.social-icons a {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0;/**/
  background: #f7dc16;
  border-radius: 50%;  
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
  width: 2.4rem;
  height: 2.4rem;
  color:#cd2653;
  fill:#cd2653;
}

.social-icons a:focus,
.social-icons a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

img{
  height: auto;
  vertical-align: bottom;
}
/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}
/* -------------------------------------------------------------------------- */

/*  6. Search Modal
/* -------------------------------------------------------------------------- */


.search-modal {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -9999rem;
  top: 0;
  transition: opacity 0.2s linear, left 0s 0.2s linear;
  width: calc( 100% - 100px );
  z-index: 100999;
}
.search-modal-inner {
  background: #fff;
  transform: translateY(-100%);
  transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.search-modal-inner .section-inner {
  display: flex;
  justify-content: space-between;
  max-width: 168rem;
}

.search-modal.active {
  left: 0;
  opacity: 1;
  transition: opacity 0.2s linear;
  display: block;
  padding: 50px;
}

.search-modal.active .search-modal-inner {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}

button.search-untoggle {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: -2.5rem;
  padding: 0 2.5rem;
}

.search-modal button.search-untoggle {
  color: inherit;
}

.search-modal.active .search-untoggle {
  animation: popIn both 0.3s 0.2s;
}

.search-untoggle svg {
  height: 1.5rem;
  transition: transform 0.15s ease-in-out;
  width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
  transform: scale(1.15);
}


/* Modal Search Form ------------------------- */

.search-modal form {
  margin: 0;
  position: relative;
  width: 100%;
}

.search-modal .search-field {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: 2rem;
  letter-spacing: -0.0277em;
  height: 8.4rem;
  margin: 0 0 0 -2rem;
  max-width: calc(100% + 2rem);
  padding: 0 0 0 2rem;
  width: calc(100% + 2rem);
}

.search-modal .search-field::-webkit-input-placeholder {
  color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
  color: inherit;
}

.search-modal .search-field::-moz-placeholder {
  color: inherit;
  line-height: 4;
}

.search-modal .search-submit {
  position: absolute;
  right: -9999rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-modal .search-submit:focus {
  right: 0;
}

/* Top-Navi */


#menu-hauptnaviagtion{
  list-style: none;
  margin: 0;
  padding: 0;  
  
}

#menu-hauptnaviagtion a{
  color: white;  
  padding: 0 0.25rem;
  text-decoration: none;
}

#menu-hauptnaviagtion > li{
  display: inline-block;
position: relative;
  line-height: 2rem;
  background: red;

}
.sub-menu{
  display: none;
 position: absolute;
  top: 32px;
  right: 0;
  margin: 0;
  padding: 0;
}

.sub-menu li{
  white-space: nowrap;
  background: green;
  min-width: 100%;
  display: block
}

#menu-hauptnaviagtion li:hover
{
  background: white;
}
#menu-hauptnaviagtion li:hover a
{
  color: black;
}
#menu-hauptnaviagtion li:hover .sub-menu{
  display: inline-block;
}

.notice-success{
  color:red;
  background: beige
}

.my-block-image{
  background:aqua;
}

/* Extra-Navi */
.navi-item{
  width: calc(100% / 3);
  position: relative;
  top: -4rem;
  background: #fff;
  background: beige;
  grid-template-columns: auto 1fr;  
  -ms-grid-columns:auto 1fr;  
  display: inline-grid;
    display: -ms-inline-grid;
  vertical-align: top;
  padding: 1rem 0;
}
.navi-item img {
    width: 64px;
    height: auto;
    border-radius: 9999px;
    border: 2px solid #1F5DA6;
}
.navi-item .wp-block-media-text__media {
    margin-left: 1rem;
}

.navi-item .wp-block-media-text__content{
  height: 4em;
  display: flex; 
  justify-content: start; 
  align-items: center;

}

.navi-item .wp-block-media-text__content p{
  color: #1F5DA6;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  width: 150px;
}


.extra-navi {
    width: calc(100% / 3);
    display: inline-block;
    position: relative;
    top: -4rem;
    margin-bottom: 20px;
    background: #fff;
}
.extra-navi img {
    width: 64px;
    height: auto;
    border-radius: 9999px;
    border: 2px solid #1F5DA6;
}
.extra-navi .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    vertical-align: top;
    height: 64px;
    margin-top: 1rem;
}
.extra-navi .wp-block-media-text__content{
  color: pink;
  grid-column: 1; 
  grid-row: 2;
  text-align: center;
}

/*
.accordion_content{
  display: none;
}
*/
details:focus,summary:focus{
  outline: none;
}

 .accordion-item {
  background-color: #eee;
  color: #444;
  cursor: pointer;
 /* padding: 18px;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.7s;
}

.accordion_head
{
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 2rem;
  margin: 0;
}
.accordion_head .titel
{
}
.accordion_head .acc
{
  line-height: 2rem;
  justify-self: end; 
  align-self: end;
}
.accordion_head.active .acc
{
  background: blue;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

summary::-webkit-details-marker {
  display: none;
}
summary::after {
  padding-right: .25rem;
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 24 24' width='40'><path d='M0 0h24v24H0z' fill='none'/><path d='M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/></svg>");  /* Instead of Triangle closed */
  justify-self: end; 
  align-self: end;

fill: #303 !important;

}
details[open] summary::after {
  padding-right: .25rem;
  font-style: italic;
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 24 24' width='40'><path d='M0 0h24v24H0z' fill='none'/><path d='M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/></svg>");  /* Instead of Triangle closed */
}