*{box-sizing: border-box;margin: 0;padding: 0;
  font-weight:400;}

html {
  overflow-x: hidden;overflow-y: scroll;min-height: 100vh;
}
  
body {font-family: 'Lato', sans-serif; max-width: 2000px;margin:auto;}

.content-width{
  background: lavender;
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
    max-width: 100%;
    width: auto;
    vertical-align: middle;
    height: auto
}
#myBody.overlay{
    /*position: fixed;*/
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    overflow: hidden;
}
#back_navi{
  display: none;
}

.main{
  width: 100%;
  }

.main >*{
  max-width: 1244px;
  margin: auto;
   padding:16px;
  margin-bottom:16px;
}

li
{
  list-style-type: none;
}
a
{
  text-decoration: none;
}


/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 0px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}

li{
  line-height: 48px;
  margin: 5px;
}
button{
  line-height: 48px;
  margin: 5px;
  cursor: pointer;
  min-width: 48px;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


.gray{
  background: #F3F4F7;
}

section {
    margin-bottom: 32px;
    padding-bottom: 16px;
}

.block_image,.block_headline,.block_content,.my-block-button{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.my-block-button span.button-text {
    color: #fff;
    background-color: #0061AB;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
    line-height: 24px;
    padding: 12px;
}


button
{
  background: transparent;
  border:0;
  margin:0;
}
  .header
  {
    height:72px;
    padding: 0 0 0 16px
  }
.header_out{
  border-bottom: 1px solid #C7CCDB;
  padding: 0;
  margin-top: -5px;

}

a.custom-logo-link {
    height: 72px;
    vertical-align: middle;
    line-height: 72px;
    display: inline-block;
}
.site-logo{
    display: inline-block;
    width:68%;
}
.header img
{
  cursor: pointer;
  vertical-align: middle;
}

.site-title
{
  width:68%;
  display: inline-block;
  height:98%;
}

.header .nav-frame
{
  width: 32%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.header .logo
{
  width:128px;
  height:98%;
  margin:0 0 0 0;
}
.nav-frame img
{
  height:32px;
  margin:00;
}
.mobile-menu
{
  padding:32px 16px 0 16px;
  background: #fff;
}
.mobile-menu li
{  
  border-bottom:1px solid #E3E5ED;
  margin:0 0 16px 0;
  font-size:24px;
  line-height:2em;
}

.mobile-menu a, .mobile-menu a:visited
{
  
  font-size:24px;
  line-height:24px;
  color:#091B30;

}
.showing-modal .mobile_menu_open_button, .mobile_menu_close_button
{
  display:none;
}
.showing-modal .mobile_menu_close_button
{
  display:inline-block;
}

.header{
  /*height:70px;
  border-bottom:2px solid #C7CCDB;
  */
}

.cover-modal, .lb_navi
{display:none;}
.cover-modal.show-modal.active {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 0 16px;    
    height: calc(100vh - 72px);
    background-color: #fff;
}
.mobile_hidden
{
  display: none;
}


.show-test{
  display: none;
  position: relative;
  z-index: 5000;
  background-color: white;  
  max-width: 1272px;
  margin: auto;
  padding: 0;
}
.show-test.active{

  display: block;display: grid;
    grid: auto / 1fr;
    gap: 0;
}


.blog.m.show-test {
    margin-top: 36px;
}
.sub_menu_block p {
    font-size: 26px;
    letter-spacing: 0;
    line-height: 32px;
}
.sub_menu_block.blog a {
  color: #1F5DA6;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.sub_menu_block
{
  background: #fff;
  display: block;
  margin: 0;
  margin-bottom: 48px;

}
.sub_menu_block label
{
  display: block;
  color: #091B30;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;  
  height: 40px;
}
a.sub_menu_item{
    color: #091B30;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    display: block;
    line-height: 56px;
    border-bottom: 1px solid #E3E5ED;
    position: relative;
}


a.sub_menu_item .material-icons{
    position: absolute;
    right: 0;
    line-height: 48px;
}

/* Breadcrumb */

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb ul{
    list-style: none;
    margin: 0;
}

.breadcrumb ul li{
    display: inline-block;
}

.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
    color: #cd2653;
}

.breadcrumb svg.svg-icon {
    display: inline-block;
    color: #428bca;
    fill: #428bca;
    vertical-align: middle;
}
.breadcrumb svg.svg-icon:hover {
    display: inline-block;
    color: #cd2653;
    fill: #cd2653;
    vertical-align: middle;
}

/* Slideshow */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  background: none!important;
}

.slideshow-container.xx {
    width: 100%;
    position: relative;
    min-height: 0;
    padding: 0; 
}



/* Hide the images by default */
.mySlides {
  max-width: 2000px;
  margin: auto;
  display: none; 
  margin-bottom: -47px 
}
/* Next & previous buttons */
.prev_slide, .next_slide {
  display:none;
}

.mySlides .my-block-image {
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 16px;
    margin: 0;
    /*padding: 0px 12px;*/
    position: relative;
    width: 100%;
    text-align: left;
    top: -47px;
    padding: 0 16px;
}

.slide_h1,.slide_h2{
        display: block;
}

.slide_h1{
        font-size: 4rem;
}
.slide_h2{
        font-size: 1.5rem;
}

.my-block-title {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 47px;
    text-transform: uppercase;
    height: 47px;
}

.my-block-text {
  color: #091B30;
  font-family: Lato;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;

    margin-top: 48px;
    margin-bottom: 32px;
    
    display: inline-block;
}

.text .my-block-button {
    background: #0061AB;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    padding: 12px;
}
.text button svg{
    display: inline-block;    vertical-align: middle;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots{
  position: relative;
    text-align: center;
    height: 72px;
    line-height: 72px;
    bottom: 0;
    width: 100%;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #C7CCDB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots.d_text{
    left: 10.9%;
    width: 48%;
    text-align: left;
    display: grid;
  grid: repeat(auto-fill, 50px) / auto-flow 1fr;  
   gap: 0px 24px;   
}
.d_text .dot{
    width: auto;
    min-width: 15px;
    border-top: 3px solid #fff;
    border-radius: 0;
    height: calc( 100% - 3px );
}
.active_dot, .dot:hover {
  background-color: #0061AB;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
    background: beige;
    margin: auto;
    width: 100%;
    height: auto;
}

/* Extra-Navi */
.navi-item{
  width: 100%;
 padding: 0.5rem 0;
  border-bottom: 1px solid #E3E5ED;
}
.navi-item img {
    /*width: 64px;*/
    height: auto;
    width: auto;
    /*border-radius: 9999px;
    border: 2px solid #1F5DA6;*/
    margin: auto;
}
.navi-item .wp-block-media-text__media {
    margin-left: 0;
}

.navi-item .wp-block-media-text__content{
  height: 4em;
  display: flex; 
  justify-content: start; 
  align-items: center;

}

.navi-item .wp-block-media-text__content p{
  color: #1F5DA6;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 0;
  width: 150px;
}

  .main-navi_btn
  {
    width: 100%;
    display: block;
    margin: 0;
    color: #091B30;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0;
    border-bottom: 1px solid #E3E5ED;
    text-align: left;
    line-height: 48px;
  }

.main-navi_btn .material-icons {
    position: absolute;
    right: 32px;
    line-height: 48px;
}


  button.main-navi_btn.active,.material-icons{
    color: #1F5DA6;
    vertical-align: middle;
  }
*:focus {
    outline: none;
}

.nav-toggle .material-icons:before {
    content: "\e5d2"
  }
.nav-toggle.active .material-icons:before {
    content: "\e5cd"
}

  .desktop_hidden
  {
    display: inline-block;
  }  
  .mobile_hidden
  {
    display: none;
  }

.block_image_div {
    background-size: cover;
    min-height: 300px;
}



  .footer{
    padding: 16px;
    background: #F3F4F7;
    color: #091B30;
    font-family: Lato;
  }
  .footer1{
    max-width: 1224px;
    margin: auto;
    border-bottom: 1px solid #E3E5ED;
    padding-bottom: 16px;
    margin-bottom: 32px;
  }
  .footer p{

  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;    
  }
.footer_item1{
  height: 56px;
  line-height:56px;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer_item1 img{vertical-align: bottom;
}
.footer_item1.label{
    color: #091B30;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.footer_item2, .footer_menu a{
  color: #091B30;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-size: 12px;
}
.header span.material-icons {
    font-size: 32px;
}
.mobile_width25
{
  display:inline-block;
  width:25%;
}

.height50
{
  height:50px;
}

.events h1
{
  color:#091B30;
  margin-bottom:26px;
}

.events_header
{
  font-weight:200;
  padding:16px 0;
  border-bottom: 1px solid #C7CCDB;
}

a.event_short h2
{
  font-size:16px;
  line-height:20px;
  color:#091B30;
}

a.event_short
{
  color:#C7CCDB;
  display: block;
  padding:22px 0;
  font-weight:300;
  border-bottom: 1px solid #C7CCDB;
}
.event_short .material-icons
{
  float:right;
  font-size:24px;
  padding-top: 7px;
}

.event_short span
{
  padding:5px 5px 0 5px;
  color:#1F5DA6;
  font-size:10px;
  line-height:16px;
  display:inline-block;
}

.event_short span:nth-of-type(2)
{
  padding-left:0;
}
.events_header select
{
  border:0;
  color:#1F5DA6;
  font-size:16px;
  line-height: 24px;
  font-weight:700;
}

@media(min-width:768px)
{
  .desktop_hidden
  {
    display: none;
  }  
  .mobile_hidden
  {
    display: block;
  }

.mobile-menu
{
  padding:32px 16px 0 16px;
  height: calc( 100vh - 116px);
  position: absolute;
  top: 113px;
  background-color: #fff;
}  
  .header
  {
    height:111px;
    max-width: 1256px;
    margin: auto;
    padding: 0 16px;
  }
  .site-title
  {
    width:20%;
  }
  .site-logo{
      width:20%;
  }

  .nav-frame img
  {
    height: 24px;
    margin:0 8px 0 0;
  }

  .nav-frame .label
  {
    line-height:48px;
    display: inline-block;
    margin:0;
    color: #091B30;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    margin-left: 8px;

  }

  .header .logo
  {
    width:150px;
    height:auto;
    margin:0 0 0 20%;
  }
  .desktop_navi
  {
    width:68%;
    display: inline-block;
    text-align:right;
    vertical-align: middle;
    height:100%;
   /* margin:0 0 20px 0;*/
  }

  .main-navi_btn
  {
    display: inline-block;
    height: 112px;
    margin-right: 8px;
    color: #091B30;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    border-bottom: 4px solid transparent;
    width: auto;
    line-height: 48px;
  }
  .main-navi_btn.active{
    border-bottom: 4px solid #1F5DA6; 
    color: #1F5DA6;
    font-weight: bold; 
  }
a.main-navi_btn.active {
    line-height: 48px;
    height: 82px;
}
  
  span.material-icons.desktop_hidden {
      display: none;
  }
  .header .nav-frame
  {
    width:12%;
    vertical-align: middle;
    height:48px;
    margin: 0 0 0 0;
    border-left:1px solid #E3E5ED;
  }

  /* Extra-Navi */
  .navi-item{
    width: calc(100% / 3);
    position: relative;
    top: -72px;
    background: #fff;
    grid-template-columns: 1fr; 
    grid-template-rows: 128px; 
    -ms-grid-columns:128px 1fr;  
    display: inline-grid;
    display: -ms-inline-grid;
    vertical-align: middle;
    padding: 0;
    margin-bottom: -72px;
  }

.navi-item .my-block-button {
    vertical-align: middle;
    width: 100%;
}

/* slide */


/* Caption text */
.text {
    position: absolute;
    max-width: 1224px;
    margin: auto;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 56px;    
    top: 10%;

} 

.text * {
    display: block;
    max-width: 80%;
    margin: 0px;
}

.mySlides{
  margin-bottom: 0;
}
.slide_navi{
  position: absolute;
  top: calc(50% - 50px);
  height: 100px;
    max-width: 1224px;
    margin: auto;
    padding: 0;
    width: calc(100% - 32px);
    left: 0;
    right: 0;

}

/* Next & previous buttons */
.prev_slide, .next_slide {
      display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  z-index: 10
}

/* Position the "next button" to the right */
.next_slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_slide:hover, .next_slide:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot{
  background: #fff;
}
.active_dot, .dot:hover {
    background-color: #0061AB;
}
/* The dots/bullets/indicators */
.dots{
  position: absolute;
    text-align: center;
    height: 72px;
    line-height: 72px;
    bottom: 0;
    width: 100%;
}

.xx .dots{
    bottom: 72px;
}
}
