figure.wp-block-image.size-large.is-style-rounded.logo {
    margin: 0;
    z-index: 10;
}
figure.logo img{
    vertical-align: bottom;
    background: #f7dc16;
    width: 100%;
}

figure.logo img:hover{
    background: blue;
}


.wp-block-columns.lotto-header .wp-block-column{
    margin: 0
}

.wp-block-column.lotto-logo{
    flex-basis:50px;
    z-index: 10;
}
.wp-block-column.lotto_top-menu{
    vertical-align: top;
    flex-basis:100%;
    z-index: 1;
    background: #df0026;
    color: #fff;
}
#menu-top-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 20px);
}

#menu-top-menu > li
{
    position: relative;
    float: left;
    width: calc(100% + 20px);
    background: #df0026;
    border-bottom: 1px solid #FFFFFF;
}
#menu-top-menu > li:last-child
{
    border:none;
}

#menu-top-menu > li:hover { background: #CCCCCC; }

#menu-top-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

#menu-top-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
#menu-top-menu a:hover { color: #000000; }
figure{
    margin: 0;
}
.sub-menu
{
    position: relative;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.sub-menu > li
{
    position: relative;
    height: 31px;
    background: #999999;
}
.sub-menu > li:hover { background: #CCCCCC; }



/* Social Icons ------------------------------ */

ul.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: -0.9rem 0 0 -0.9rem;
    justify-content: center;
    list-style: none;
}

ul.social-icons li {
    margin: 0.9rem 0 0 0.9rem;
}

.social-icons a {
    align-items: center;
    background: #f7dc16;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 2.4rem;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    transition: transform 0.15s ease-in-out;
    width: 2.4rem;
}

.social-icons a:focus,
.social-icons a:hover {
    transform: scale(1.1);
    text-decoration: none;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}