/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
body {font-family: 'Lato', sans-serif; margin: 0;padding: 0}

/* LB-Header */
.lb_header{
  display: block;
  background: beige;
  height: 120px;
}

.lb_header div{
  display: inline-block;
  vertical-align: top;
}
.lb_navi{
  background: yellow;
}
.lb_logo img{
  max-height: 120px;
  width: auto;
}

/* Breadcrumb */

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb ul{
    list-style: none;
    margin: 0;
}

.breadcrumb ul li{
    display: inline-block;
}

.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
    color: #cd2653;
}

.breadcrumb svg.svg-icon {
    display: inline-block;
    color: #428bca;
    fill: #428bca;
    vertical-align: middle;
}
.breadcrumb svg.svg-icon:hover {
    display: inline-block;
    color: #cd2653;
    fill: #cd2653;
    vertical-align: middle;
}

/* Slideshow */

/* Slideshow container */
.slideshow-container > .wp-block-group__inner-container {
  position: relative;
  margin: auto;
  max-width: 1440px;
}

/* Hide the images by default */
.mySlides {
  display: none;  
  background: burlywood;
 
  position: relative;

}

/* Next & previous buttons */
.prev_slide, .next_slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next_slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_slide:hover, .next_slide:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    margin: 0;
    padding: 8px 12px;
    position: absolute;
    bottom: 72px;
    left: 10.9%;
    width: 48%;
    text-align: left;
    /*height: calc(100% - 72px);*/
    background: linear-gradient(
45deg
,red,white);
}

.slide_h1,.slide_h2{
        display: block;
}

.slide_h1{
        font-size: 4rem;
}
.slide_h2{
        font-size: 1.5rem;
}

.text button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;

}

.text button svg{
    display: inline-block;    vertical-align: middle;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots{
    text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_dot, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
    background: beige;
    margin: auto;
}



/* LB Gallery */


.lb_gallery .wp-block-columns {
    margin: 0px; 
}
.lb_gallery .wp-block-column {
    text-align: center;
    margin: 0px;
    flex-basis:100%;    
}
.lb_gallery .wp-block-column:not(:first-child) {
    text-align: center;
    margin: 0px;
    flex-basis:100%;  
}

.lb_gallery .wp-block-column.lb_gallery_image {
    padding-top: 1em;
}

.lb_gallery .wp-block-column.lb_gallery_image img{
    max-height: 130px;
    width: auto;
    margin: auto;
}

.lb_gallery .wp-block-column.lb_gallery_image figcaption{
    color: #fff;
    font-weight: 600;
}

.lb_gallery .wp-block-column.lb_gallery_spacer {
    background: lightgray
}

/* Social Icons ------------------------------ */

ul.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -0.9rem;
    justify-content: center;
    list-style: none;
}

ul.social-icons li {
    margin: 0.9rem 0 0 0.9rem;
}

.social-icons a {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0;/**/
  background: #f7dc16;
  border-radius: 50%;  
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
  width: 2.4rem;
  height: 2.4rem;
  color:#cd2653;
  fill:#cd2653;
}

.social-icons a:focus,
.social-icons a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

img{
  height: auto;
  vertical-align: bottom;
}
/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}
/* -------------------------------------------------------------------------- */

/*  6. Search Modal
/* -------------------------------------------------------------------------- */


.search-modal {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -9999rem;
  top: 0;
  transition: opacity 0.2s linear, left 0s 0.2s linear;
  width: calc( 100% - 100px );
  z-index: 100999;
}
.search-modal-inner {
  background: #fff;
  transform: translateY(-100%);
  transition: transform 0.15s linear, box-shadow 0.15s linear;
}

.search-modal-inner .section-inner {
  display: flex;
  justify-content: space-between;
  max-width: 168rem;
}

.search-modal.active {
  left: 0;
  opacity: 1;
  transition: opacity 0.2s linear;
  display: block;
  padding: 50px;
}

.search-modal.active .search-modal-inner {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}

button.search-untoggle {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: -2.5rem;
  padding: 0 2.5rem;
}

.search-modal button.search-untoggle {
  color: inherit;
}

.search-modal.active .search-untoggle {
  animation: popIn both 0.3s 0.2s;
}

.search-untoggle svg {
  height: 1.5rem;
  transition: transform 0.15s ease-in-out;
  width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
  transform: scale(1.15);
}


/* Modal Search Form ------------------------- */

.search-modal form {
  margin: 0;
  position: relative;
  width: 100%;
}

.search-modal .search-field {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: 2rem;
  letter-spacing: -0.0277em;
  height: 8.4rem;
  margin: 0 0 0 -2rem;
  max-width: calc(100% + 2rem);
  padding: 0 0 0 2rem;
  width: calc(100% + 2rem);
}

.search-modal .search-field::-webkit-input-placeholder {
  color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
  color: inherit;
}

.search-modal .search-field::-moz-placeholder {
  color: inherit;
  line-height: 4;
}

.search-modal .search-submit {
  position: absolute;
  right: -9999rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-modal .search-submit:focus {
  right: 0;
}

/* Top-Navi */
#menu-top-menu1{
  list-style: none;
  margin: 0;
  padding: 0;  
}

#menu-top-menu1 a{
  color: white;  
  padding: 0 0.25rem;
  text-decoration: none;
}

#menu-top-menu1 > li{
  display: inline-block;
position: relative;
  line-height: 2rem;
  background: red;

}
.sub-menu{
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  margin: 0;
  padding: 0;
}

.sub-menu li{
  white-space: nowrap;
  background: green;
  min-width: 100%;
  display: block
}

#menu-top-menu1 li:hover
{
  background: white;
}
#menu-top-menu1 li:hover a
{
  color: black;
}
#menu-top-menu1 li:hover .sub-menu{
  display: inline-block;
}
