/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */

  font-display: swap; 
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/bS/assets/fonts/Lato/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */

  font-display: swap;       
}
body {font-family: 'Lato', sans-serif; margin: 0;padding: 0}
.wp-block-media-text__media img, .wp-block-media-text__media video {
    max-width: unset;
    width: auto;
    vertical-align: middle;
}

/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}

li{
  line-height: 48px;
  margin: 5px;
}
button{
    line-height: 48px;
  margin: 5px;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


.block_image,.block_headline,.block_content,.my-block-button{
  position: relative;
  display: block;
  width: 100%;
  background: aliceblue;
} 