*{box-sizing: border-box;margin: 0;padding: 0;
  font-weight:400;}
body {font-family: 'Lato', sans-serif; max-width: 2000px;}
.wp-block-media-text__media img, .wp-block-media-text__media video {
    max-width: unset;
    width: auto;
    vertical-align: middle;
}

main{
    max-width: 1256px;
    margin: auto;
    padding: 0 16px;}
li
{
  list-style-type: none;
}
a
{
  text-decoration: none;
}


/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 0px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}

li{
  line-height: 48px;
  margin: 5px;
}
button{
    line-height: 48px;
  margin: 5px;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


.block_image,.block_headline,.block_content,.my-block-button{
  position: relative;
  display: block;
  width: 100%;
  background: aliceblue;
}
button
{
  background: transparent;
  border:0;
  margin:0;
}
  .header
  {
    height:72px;
    padding: 0 16px
  }
.header_out{
  border-bottom: 1px solid #C7CCDB;
  padding: 0;

}

a.custom-logo-link {
    height: 72px;
    vertical-align: middle;
    line-height: 72px;
    display: block;
}
.site-logo{
    display: inline-block;
    width:68%;
}
.header img
{
  cursor: pointer;
  vertical-align: middle;
}

.site-title
{
  width:68%;
  display: inline-block;
  height:98%;
}

.header .nav-frame
{
  width: 31%;
  display: inline-block;
  vertical-align: middle;
 /* margin: 0 0 20px 0;*/
  text-align: right;
}

.header .logo
{
  width:128px;
  height:98%;
  margin:0 0 0 0;
}
.nav-frame img
{
  height:32px;
  margin:0 15px 0 0;
}
.mobile-menu
{
  padding:32px 16px 0 16px;
  height: calc( 100vh - 77px);
  background: red;
}
.mobile-menu li
{  
  border-bottom:1px solid #E3E5ED;
  margin:0 0 16px 0;
  font-size:24px;
  line-height:24px;
}

.mobile-menu a, .mobile-menu a:visited
{
  
  font-size:24px;
  line-height:24px;
  color:#091B30;

}
.showing-modal .mobile_menu_open_button, .mobile_menu_close_button
{
  display:none;
}
.showing-modal .mobile_menu_close_button
{
  display:inline-block;
}

.header{
  /*height:70px;
  border-bottom:2px solid #C7CCDB;
  */
}

.cover-modal, .lb_navi
{display:none;}
.cover-modal.show-modal.active {
    display: block;
    overflow: auto;
}
.mobile_hidden
{
  display: none;
}

@media(min-width:798px)
{
  .mobile_hidden
  {
    display: block;
  }

.mobile-menu
{
  padding:32px 16px 0 16px;
  height: calc( 100vh - 116px);
  background: red;
}  
  .header
  {
    height:111px;
    max-width: 1256px;
    margin: auto;
    padding: 0 16px;
  }
  .site-title
  {
    width:20%;
  }
  .site-logo{
      width:20%;
  }

  .nav-frame img
  {
    height: 24px;
    margin:0 8px 0 0;
  }
  .nav-frame .label
  {
    line-height:111px;
    display: inline-block;
    margin:0;
  }

  .header .logo
  {
    width:150px;
    height:auto;
    margin:0 0 0 20%;
  }
  .desktop_navi
  {
    width:65%;
    display: inline-block;
    text-align:right;
    vertical-align: middle;
    height:100%;
   /* margin:0 0 20px 0;*/
  }
  .desktop_navi li
  {
    display: inline-block;
    height: 112px;
    margin: 0 5px;
  }
  .desktop_navi .current-menu-item{
    border-bottom: 2px solid #1F5DA6;  
  }

  .desktop_navi a, .desktop_navi a:visited
  {
    color:#091B30;
    /*margin-left:32px;*/
    line-height: 111px;
    padding:8px;

  }
  .desktop_navi .current-menu-item a{  
    color: #1F5DA6;
    font-weight: bold;
  }
  .header .nav-frame
  {
    width:15%;
    vertical-align: middle;
    height:100%;
    margin: 0 0 0 0;
    border-left:1px solid #E3E5ED
  }
  .desktop_hidden
  {
    display: none;
  }

}

