*{box-sizing: border-box;margin: 0;padding: 0;}
body {font-family: 'Lato', sans-serif; max-width: 2000px;}
.wp-block-media-text__media img, .wp-block-media-text__media video {
    max-width: unset;
    width: auto;
    vertical-align: middle;
}

main{
  margin: 0 auto;padding: 0; max-width: 1224px;
}

/* skiplinks */

.skiplinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.is-visuallyhidden, .visuallyhidden {
    border: 0;
    clip: auto;
    height: 10px;
    margin-bottom: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 10px;
    color: transparent;
    background: 0 0;
    opacity: 0;
    z-index: 1000000;
}
.is-visuallyhidden:not(:focus), .visuallyhidden:not(:focus) {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 0px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

.skiplinks {
    position: relative;
    z-index: 100000;
}

.skiplink>a, a.skiplink {
    position: absolute;
    z-index: 100000;
    top: -9999px;
    left: -9999px;
    text-decoration: none;
}
.skiplink>a:active, .skiplink>a:focus, a.skiplink:active, a.skiplink:focus {
    position: absolute;
    top: 50px;
    top: 50vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(20,20,20,.8);
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    font-size: 2rem;
    font-family: CH-Sans;
}

li{
  line-height: 48px;
  margin: 5px;
}
button{
    line-height: 48px;
  margin: 5px;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}


.block_image,.block_headline,.block_content,.my-block-button{
  position: relative;
  display: block;
  width: 100%;
  background: aliceblue;
}
button
{
  background: transparent;
  border:0;
  margin:0;
}

.header img
{
  cursor: pointer;
}

.site-title
{
  width:74%;
  display: inline-block;
  height:98%;
}

.header .nav-frame
{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 20px 0;
  text-align: right;
}

.header .logo
{
  width:128px;
  height:98%;
  margin:0 0 0 0;
}
.nav-frame img
{
  height:32px;
  margin:0 15px;
}
.mobile-menu
{
  padding:32px 16px 0 16px;
  height:100vh;
}
.mobile-menu li
{  
  border-bottom:1px solid #E3E5ED;
  margin:0 0 16px 0;
  list-style-type: none;
}

.mobile-menu a
{
  text-decoration: none;
  font-size:24px;
  line-height:24px;
  color:#091B30;
  font-weight:300;
}
.showing-modal .mobile_menu_open_button, .mobile_menu_close_button
{
  display:none;
}
.showing-modal .mobile_menu_close_button
{
  display:inline-block;
}

.header{
  height:70px;
  border-bottom:2px solid #C7CCDB;
}

.cover-modal, .lb_navi
{display:none;}
.cover-modal.show-modal.active
{display: block;}

@media(min-width:798px)
{
  .lb_navi
  {
    display: block;
  }



}