<script type="application/ld+json"> {
    "@context"    : "http://schema.org",
    "@type"       : "WebSite",
    "url"         : "{{canonical}}",
    "provider"    : "",
    "inLanguage"  : "{{language}}",
    "headline"    : "{{title}}",
    "image"       :"",  
    "description" :"{{meta_description}}",
    "keywords"    :""
}
</script>
<script type="application/ld+json">
{ "@context"  : "https://schema.org",
  "@type"     : "Organization",
  "name"      : "{{Organization-Name}}",
  "brand"     : "{{Organization-Brand}}",
  "slogan"    : "{{Organization-Slogan}}",
  "url"       : "{{Organization-URL}}",
  "sameAs"    : {{sociallinks}},
  "logo"      : "{{Organization-Logo}}"
}
</script>
<script type="application/ld+json">
{ "@context"            : "https://schema.org", 
  "@type"               : "Article",
  "headline"            : "{{Article-Headline}}",
  /*"alternativeHeadline" : "{{Article-alternativeHeadline}}",*/
  "image"               : "{{Article-Image}}",
  "author"              : "{{Article-Autor}}",
  "keywords"            : "{{Article-Keywords}}", 
  "wordcount"           : "{{Article-WordCount}}",
  "publisher"           : {
    "@type"             : "Organization",
    "name"              : "{{Publisher-Name}}",
    "logo"              : {
      "@type"           : "ImageObject",
      "url"             : "{{Publisher-Logo}}"
    }
  },/**/
  "url"                 : "{{Article-URL}}",
  "mainEntityOfPage"    : {
    "@type"             : "WebPage",
    "@id"               : "{{MainEntityOfPage-URL}}"
  },
  "datePublished"       : "{{Article-published}}",
  "dateCreated"         : "{{Article-created}}",
  "dateModified"        : "{{Article-modified}}",
  "description"         : "{{Article-Description}}",
  "articleBody"         : "{{Article-Body}}"
 }
</script>